<%- include('header.ejs') %>

<center>
	<div class="jumbotron">
		<h1><%= info.name %></h1>
	</div>
</center>
<div class="span9 offset1">
	<form id="form">
		<div class="row">
			<a class="btn btn-lg btn-block" href="<%= excel_url %>">
				<i class="bi bi-file-spreadsheet"></i>
				Export to Excel
			</a>
		</div>
		<% for(const c of columns) { %>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="<%= c.name %>"><%= c.pretty_name %></label>
				<div class="col-sm-9">
					<%= info[c.name] %>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-sm">
						<i class="bi bi-pencil"></i>
					</button>
				</div>
			</div>
		<% } %>
	</form>
	<% if(typeof detail_columns !== 'undefined') { %>
		<div class="row">
			<%- include('edit_table', { item: detail_item, rows: detail_results, columns: detail_columns }) %>
		</div>
	<% } %>
</div>

<%- include('footer.ejs') %>