<%- include('header.ejs') %>

<center>
	<div class="jumbotron">
		<h1>
			<%= keys.map(k => multi[k]).join(" - ") %>
		</h1>
	</div>
</center>
<div class="span9 offset1">
	<form id="form">
		<div class="row">
			<% for(const k of keys) { %>
				<a href="#">Examine <%= multi[k] %></a>
			<% } %>
		</div>
		<% for(const c of columns) { %>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label" for="<%= c.name %>"><%= c.pretty_name %></label>
				<div class="col-sm-9">
					<%= info[c.name] %>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-sm">
						<i class="bi bi-pencil"></i>
					</button>
				</div>
			</div>
		<% } %>
	</form>
	<% if(typeof details !== 'undefined') for(const detail of details) { %>
		<div class="row">
			<%- include('edit_table', { item: detail.item, rows: detail.results, columns: detail.columns }) %>
		</div>
	<% } %>
</div>

<%- include('footer.ejs') %>